In [1]:
import pandas as pd
import numpy as np

In [63]:
file_path = r"C:\Users\Chara\OneDrive\Desktop\Global_Landslide_project\Global_Landslide_Catalog.xlsx"
df = pd.read_excel(file_path)

In [65]:
print("\n--- Dataset Info ---")
df.info()

--- Dataset Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11033 entries, 0 to 11032
Data columns (total 31 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   source_name                11033 non-null  object
 1   source_link                10187 non-null  object
 2   event_id                   11033 non-null  int64
 3   event_date                 11033 non-null  object
 4   event_time                 0 non-null      float64
 5   event_title                11033 non-null  object
 6   event_description          10171 non-null  object
 7   location_description       10931 non-null  object
 8   location_accuracy          11031 non-null  object
 9   landslide_category         11032 non-null  object
 10  landslide_trigger          11010 non-null  object
 11  landslide_size             11024 non-null  object
 12  landslide_setting          10964 non-null  object
 13  fatality_count             9648 non-null   float64
 14  injury_count               5359 non-null   float64
 15  storm_name                 577 non-null    object
 16  photo_link                 1496 non-null   object
 17  notes                      317 non-null    object
 18  event_import_source        9470 non-null   object
 19  event_import_id            9471 non-null   float64
 20  country_name               9471 non-null   object
 21  country_code               9469 non-null   object
 22  admin_division_name        9396 non-null   object
 23  admin_division_population  9471 non-null   float64
 24  gazeteer_closest_point     9470 non-null   object
 25  gazeteer_distance          9471 non-null   float64
 26  submitted_date             11023 non-null  object
 27  created_date               11032 non-null  object
 28  last_edited_date           11033 non-null  object
 29  longitude                  11033 non-null  float64
 30  latitude                   11033 non-null  float64
dtypes: float64(8), int64(1), object(22)
memory usage: 2.6+ MB

In [51]:
print("\n--- Descriptive Statistics ---")
print(df.describe())

--- Descriptive Statistics ---
           event_id  event_time  fatality_count  injury_count  \
count  11033.000000         0.0     9648.000000   5359.000000
mean    5598.953141         NaN        3.219424      0.751819
std     3249.228647         NaN       59.886178      8.458955
min        1.000000         NaN        0.000000      0.000000
25%     2785.000000         NaN        0.000000      0.000000
50%     5563.000000         NaN        0.000000      0.000000
75%     8435.000000         NaN        1.000000      0.000000
max    11221.000000         NaN     5000.000000    374.000000

       event_import_id  admin_division_population  gazeteer_distance  \
count      9471.000000               9.471000e+03        9471.000000
mean       4798.563070               1.577600e+05          11.873689
std        2789.125559               8.297345e+05          15.598228
min        -111.167300               0.000000e+00           0.000030
25%        2386.500000               1.963000e+03           2.363845
50%        4773.000000               7.365000e+03           6.254870
75%        7189.500000               3.402100e+04          15.815610
max        9669.000000               1.269184e+07         215.448880

          longitude      latitude
count  11033.000000  11033.000000
mean       2.520441     25.881887
std      100.908393     20.415054
min     -179.980766    -46.774800
25%     -107.871700     13.917600
50%       19.694600     30.534500
75%       93.948000     40.866259
max      179.991364     72.627500

In [53]:
print("\n--- Missing Values Count ---")
print(df.isnull().sum())

--- Missing Values Count ---
source_name                      0
source_link                    846
event_id                         0
event_date                       0
event_time                   11033
event_title                      0
event_description              862
location_description           102
location_accuracy                2
landslide_category               1
landslide_trigger               23
landslide_size                   9
landslide_setting               69
fatality_count                1385
injury_count                  5674
storm_name                   10456
photo_link                    9537
notes                        10716
event_import_source           1563
event_import_id               1562
country_name                  1562
country_code                  1564
admin_division_name           1637
admin_division_population     1562
gazeteer_closest_point        1563
gazeteer_distance             1562
submitted_date                  10
created_date                     1
last_edited_date                 0
longitude                        0
latitude                         0
dtype: int64

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11033 entries, 0 to 11032
Data columns (total 31 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   source_name                11033 non-null  object
 1   source_link                10187 non-null  object
 2   event_id                   11033 non-null  int64
 3   event_date                 11033 non-null  object
 4   event_time                 0 non-null      float64
 5   event_title                11033 non-null  object
 6   event_description          10171 non-null  object
 7   location_description       10931 non-null  object
 8   location_accuracy          11031 non-null  object
 9   landslide_category         11032 non-null  object
 10  landslide_trigger          11010 non-null  object
 11  landslide_size             11024 non-null  object
 12  landslide_setting          10964 non-null  object
 13  fatality_count             9648 non-null   float64
 14  injury_count               5359 non-null   float64
 15  storm_name                 577 non-null    object
 16  photo_link                 1496 non-null   object
 17  notes                      317 non-null    object
 18  event_import_source        9470 non-null   object
 19  event_import_id            9471 non-null   float64
 20  country_name               9471 non-null   object
 21  country_code               9469 non-null   object
 22  admin_division_name        9396 non-null   object
 23  admin_division_population  9471 non-null   float64
 24  gazeteer_closest_point     9470 non-null   object
 25  gazeteer_distance          9471 non-null   float64
 26  submitted_date             11023 non-null  object
 27  created_date               11032 non-null  object
 28  last_edited_date           11033 non-null  object
 29  longitude                  11033 non-null  float64
 30  latitude                   11033 non-null  float64
dtypes: float64(8), int64(1), object(22)
memory usage: 2.6+ MB

In [71]:
print(df.shape)

(11033, 31)